@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --violet: #5C3E84;
    --blue: #686EE2;
    --orange: #FFA87B;
    --red: #F35C6E;
    --lightblue: #AEE2FF;
    --background-color: #343232;
 }
 
 .navbar{
    width: 100%;
    line-height: 3rem;
    position: fixed;
    display: flex !important;
    vertical-align: center;
    background-color: #222222;
    color: white;
    user-select: none;
    z-index: 10;
 }
 
 @keyframes background-pan{
    from{
       background-position: 0% center;
    }
    to{
       background-position: -200% center;
    }
 }
 
 @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
 
  @keyframes rotate {
   from {
     transform: rotate(0deg);
   }
   
   to {
     transform: rotate(180deg);
   }
 }

 @keyframes rotate2 {
   from {
     transform: rotate(0deg);
   }
   
   to {
     transform: rotate(360deg);
   }
 }
 
 @keyframes rotatetext {
   from {
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) rotate(0deg) scale(0);
   }
   
   to {
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) rotate(360deg) scale(1);
   }
 }

 @keyframes color {
   0%, 100% {
     color: var(--violet);
   }
   25% {
      color: var(--blue);
    }
    50% {
      color: var(--orange);
    }
    75% {
      color: var(--red);
    }
 }

 @keyframes bordercolor {
   0%, 100% {
     border: 3px solid var(--blue);
   }
   25% {
      border: 3px solid var(--violet);
    }
    50% {
      border: 3px solid var(--orange);
    }
    75% {
      border: 3px solid var(--red);
    }
 }

 @keyframes bordercolor2 {
   0%, 100% {
     border: 5px solid;
     border-image: linear-gradient(to right, var(--blue),  var(--violet),  var(--orange),  var(--red)) 1;
   }
   25% {
     border: 5px solid;
     border-image: linear-gradient(to right, var(--violet),  var(--orange),  var(--red),  var(--blue)) 1;
    }
    50% {
     border: 5px solid;
     border-image: linear-gradient(to right, var(--orange),  var(--red),  var(--blue),  var(--violet)) 1;
    }
    75% {
     border: 5px solid;
     border-image: linear-gradient(to right, var(--red),  var(--blue),  var(--violet),  var(--orange)) 1;
    }
 }

 @keyframes bordercolor3 {
  0%, 100% {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(235, 206, 45), rgb(230, 205, 65), rgb(222, 203, 100), rgb(225, 216, 166)) 1;
  }
  25% {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(225, 216, 166), rgb(235, 206, 45), rgb(230, 205, 65), rgb(222, 203, 100)) 1;
   }
   50% {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(222, 203, 100),  rgb(225, 216, 166), rgb(235, 206, 45), rgb(230, 205, 65)) 1;
   }
   75% {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(230, 205, 65), rgb(222, 203, 100), rgb(225, 216, 166), rgb(235, 206, 45)) 1;
   }
}

@keyframes bordercolor4 {
  0%, 100% {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(112, 108, 108), rgb(255, 254, 252), rgb(174, 174, 170), rgb(228, 227, 223)) 1;
  }
  25% {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(228, 227, 223), rgb(112, 108, 108), rgb(255, 254, 252), rgb(174, 174, 170)) 1;
   }
   50% {
    border: 5px solid;
    border-image: linear-gradient(to right,  rgb(174, 174, 170), rgb(228, 227, 223), rgb(112, 108, 108), rgb(255, 254, 252)) 1;
   }
   75% {
    border: 5px solid;
    border-image: linear-gradient(to right,  rgb(255, 254, 252), rgb(174, 174, 170), rgb(228, 227, 223), rgb(112, 108, 108)) 1;
   }
}

@keyframes bordercolor5 {
  0%, 100% {
    border: 5px solid;
    border-image: linear-gradient(to right, #c0752b, rgb(204, 148, 65), rgb(231, 158, 63), rgb(210, 155, 97)) 1;
  }
  25% {
    border: 5px solid;
    border-image: linear-gradient(to right,rgb(210, 155, 97), #c0752b, rgb(204, 148, 65), rgb(231, 158, 63)) 1;
   }
   50% {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(231, 158, 63), rgb(210, 155, 97), #c0752b, rgb(204, 148, 65)) 1;
   }
   75% {
    border: 5px solid;
    border-image: linear-gradient(to right, rgb(204, 148, 65),rgb(231, 158, 63), rgb(210, 155, 97), #c0752b) 1;
   }
}
 
 /* width */
 ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2c2222; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #565252; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dfdede; 
  }
 
 body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color:#222222;
    color: white;
    user-select: none;
    overflow-x: hidden;
 }
 
 *{
    box-sizing: border-box;
    margin: 0;
 }

 .brand-title{
    display: inline-block;
    position: relative;
 }
 
 .brand-title > .magic-star{
    --size: clamp(20px, 1.5vw, 30px);
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
 }
 
 .magic-star > svg{
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
 }
 
 .magic-star > svg > path {
    fill: var(--lightblue);
  }
 
 .brand-title-text{
    animation: background-pan 2.5s infinite linear;
    background: linear-gradient(
       to right,
       var(--blue),
       var(--violet),
       var(--orange),
       var(--red)
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    font-size: 2rem;
    margin: 1rem;  
    cursor: pointer;
}

#galaxy{
   position: relative;
   height: 25rem;
   width: 100%;
}

.amazing{
   position: absolute;
   margin-top: 3.5rem;
   height: max-content;
   width: 100%;
   z-index: 4;
}

#galaxy-h1{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 14rem;
   opacity: 0.8;
   animation:  rotatetext 2s ease-in, color 5s infinite linear;
}

.students{
   width: 100%;
   position: absolute;
   margin-top: 30rem;
}

.studentsP{
   margin: auto;
   position: relative;
   width: max-content;
   height: max-content;
   text-align: center;
   padding: 2rem;
   border: 2px solid white;
   border-radius: 30px;
   width: 60%;
}

.studentsP:hover{
  cursor: pointer;
  background-color: var(--background-color);
}

.studentsP > img{
   object-fit:cover;
   border: 3px solid #857070;
   border-radius:100px;
   height: 8rem;
   width: 7.5rem;
}

.studentsP > #kaira{
  object-fit:cover;
}

#daking{
   animation:  rotate2 3s ease-in-out, bordercolor 3s infinite linear;
}

#n1{
   animation: bordercolor2 3s infinite linear;
}

.studentsP > p{
  overflow-wrap: break-word;
  padding: 0.5rem;
}

#n2{
  animation: bordercolor3 3s infinite linear;
}

#n3{
  animation: bordercolor4 3s infinite linear;
}

#n4{
  animation: bordercolor5 3s infinite linear;
}

.switch-span{
  margin-left: 51rem;
}

.switch {
  border-radius: 40px;
  border: 1px solid rgb(174, 162, 162);
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(34, 31, 31);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #dfdede;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e6c81c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e6c81c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#lawrencesir{
  border: none;
}

#lawrencesirimg{
  border-radius: 0;
  width: 90%;
  height: 90%;
}

@media (max-width: 900px) {
  .studentsP{
    margin: auto;
    position: relative;
    width: max-content;
    height: max-content;
    text-align: center;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 30px;
    width: 90%;
 }

 .switch-span{
  margin-left: 27rem;
 }
}

@media (max-width: 600px) {
  .studentsP{
    margin: auto;
    position: relative;
    width: max-content;
    height: max-content;
    text-align: center;
    padding: 2rem;
    border: 2px solid white;
    border-radius: 30px;
    width: 90%;
 }

 .switch-span{
  margin-left: 6rem;
 }
}

@media (max-width: 400px){
  .switch-span{
    margin-left: 3rem;
  }
}